.card h1{
  text-align: center;
  margin: 5px;
  padding: 5px;

}
#nav{
  background-color:rgba(255,255,255,0.6);
}
#nav ul li a{
  color: #124;
}
#nav ul li a:hover{
  color: #8456;
}
#brand{
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  color: green;
}
#brand:hover{
  color: #8456;
}
footer{
  position: relative;
  border-bottom: 0;
}
#player1,#player2{
  width: 50%;
}
