body{
  background-color: #187451;
}
.card h1{
  text-align: center;
  margin: 5px;
  padding: 5px;

}

#nav{
  background-color:white;
}
#nav ul li a{
  color: #124;
}
#nav ul li a:hover{
  color: #8456;
}
#brand{
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  color: green;
}
#brand:hover{
  color: #8456;
}
footer{
  position: relative;
  border-bottom: 0;
}
#player1,#player2{
  width: 50%;
}
.jumbotron{
  background-image: url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay{
  background-color: rgba(0,0,0,0.2);
  color: white;
}
#players{
  display: none;
}
.jum{
  background-image: url("../img/bg.gif");
  height: 280px;
  background-repeat: repeat-y;
  background-position: center;
}
#shake{
  float: right;
}
#show1,#show2{
  display: none;
}
.result{
  box-shadow: 3px 3px 5px black;
  background-color: rgba(0,0,0,0.2);
  height: 90px;
  margin: auto;
  width: 50%;
}
#rolled{
  margin: auto;
  width: 50%;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px #8417;
  font-size: 20px;
}
#all, #per{
  text-align: center;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px #8417;
  font-size: 20px;
}
footer{
  background-color: #12889963;
  margin: 2px;
}
.playe1{
  margin: auto;
  width: 50%;
  -webkit-transform:rotate(-2deg);
  -webkit-box-shadow: 3px 3px 5px black;
  box-shadow: 3px 3px 5px black;
  display: inline-block;

}
.dice{
  margin: auto;
  width:50%;
  height: auto;
  float: right;
}
.dice img,img1{
  height: 50px;
  width: 50px;
}
.green{
  background-color: lightgreen;
  color: white;
}
#face{
  font-size: 10px;
}
@media screen and (min-width:1000px) {
  .card p,code,i{
    font-size: 15px;

  }

}
@media screen and (max-width:500px) {
  body{
    background-color: #F0F8FF;
  }

}
